h1{
    text-align: center;
}
#gameArea{
    margin: 0 auto;
    background-color: #b7c8c5;
    color:black;
    width: 60%;
    min-height: 300px;
}
body{
    background-color: #875c74;
    color: #b7c8c5;
    font-family: 'Courier New', Courier, monospace;
}
